@font-face {
  font-family: defaultfont;
  src: url(Roboto.ttf);
}

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: defaultfont;
	height: 100%;
}

h1 {
	font-weight: bold;
	margin: 0;
	color: #619891;
	margin-bottom: 30px;
}

h2 {
	font-weight: bold;
	margin: 0;
	font-weight: 600;
	font-size: 40px;
	line-height: 59px;
	letter-spacing: 0.04em;
}

h3{
	color: #C9C9CB;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.04em;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
	letter-spacing: 0.07em;
}
#forgetpassword{
	color: #858587;
	text-decoration: underline;
}
button {
	border-radius: 40px;
	border: none;
	background-color: #5FADA1;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	width: 40%;
	height: 9%;
	margin-top: 30px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border: solid #fff 1px;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #F8F9FB;
	border: none;
	padding: 20px 25px;
	margin: 8px 0;
	width: 80%;
	border-radius: 2px;
	padding-left: 50px;
	background-position: 20px;
	background-repeat: no-repeat;
}
input::placeholder{
	color: #B5B6B8;
	letter-spacing: 0.07em;
}
input.name{
	background-image: url(name_icon.png);
}
input.email{
	background-image: url(email_icon.png);
}
input.password{
	background-image: url(password_icon.png);
}
.container {
	background-color: #fff;
	border-radius: 21px;
	position: relative;
	overflow: hidden;
	width: 90vw;
	height: 80vh;
	max-width: 100%;
	min-height: 80vh;
	margin: auto;
	top: 10vh;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 5%;
	width: 40%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #4B8B7E;
	background: -webkit-linear-gradient(180deg, #4B8B7E 0%, #62B594 43.23%, #60B199 100%);
	background: linear-gradient(180deg, #4B8B7E 0%, #62B594 43.23%, #60B199 100%);	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

#singin_show{
  display: none;
}

#singup_show{
  display: none;
}

@media screen and (max-width: 720px){
  .container {
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    max-width: 80%;
    min-height: 480px;
  }
  .overlay-container{
    display: none;
  }
  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 3;
    opacity: 1;
	
  }
  .sign-up-container {
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 1;
  }
  #singin_show{
    display: inherit;
  }
  #singup_show{
    display: inherit;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(-94%);
    z-index: 5;
    animation: show 0.6s;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(0%);
    animation: show 0.6s;
  }
}

#shape1{
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
#shape2{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#social{
	width: 150px;
	margin-bottom: 30px;
}