@font-face {
    font-family: robotofont;
    src: url(Roboto.ttf);
}
body{
    margin: 0;
    font-family: robotofont;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.list_texts_setion{
    position: fixed;
    width: 25vw;
    height: 100vh;
    left: 0;
    background-color: rgb(242, 242, 242);
    padding-top: 50px;
}
.list_texts{
    display: grid;
    margin: 30px;
}
.list_items{
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: rgb(80, 80, 80);
    border-radius: 40px;
}
.list_items:hover{
    background-color: rgb(38, 38, 38);
    color: rgb(239, 2398, 239);
}

.text_section{
    position: fixed;
    width: 75vw;
    height: 100vh;
    right: 0;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}
#title_element{
    padding-left: 30px;
    width: 90%;
    color: rgb(140, 140, 140);
    font-size: 35px;
    border: none;
}
#text_element{
    padding-left: 30px;
    margin-top: 50px;
    width: 95%;
    height: 80%;
    color: rgb(38, 38, 38);
    font-size: 18px;
    border: none;
    resize: none;
}